h1, h2, h3, h4{
	font-family: 'Pattaya', sans-serif;
}
h1{
	font-size: 60px;
	text-align: center;
	color: #EDB9B4;
}
#video-container{
	position: relative;
}
video{
	width: 100%;
}
nav{
	position: fixed;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 80px;
	text-align: center;
	background: url(../img/nav-bg.jpg) no-repeat;
	background-size: 100%;
    background-position: 49% 21%;
	top: 0;
    width: 100%;
    z-index: 100;
}
nav::before{
	position: absolute;
	content: '';
	background: url(../img/top.svg) top no-repeat;
	height: 150px;
    width: 265px;
    left: -16px;
    top: -40px;
}
nav::after{
	position: absolute;
	content: '';
	background: url(../img/top.svg) top no-repeat;
	height: 150px;
    width: 265px;
    right: -16px;
    top: -40px;
	transform: scaleX(-1);
}
.nav{
	display: inline-block;
	float: left;
}
.nav li{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	float: left;
	padding: 5px 15px;
}
.light-mask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.3;
	
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

#clockdiv div > span{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
	font-family: 'Pattaya', sans-serif;
	width: 172px;
	height: 172px;
	padding: 15px;
	border-radius: 50%;
	background: #c4c4c4;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #EDB9B4;
}
.main{
	text-align: center;
}
.timing{
	position: relative;
	width: 100%;
	float: left;
}
.timeline{
	position: absolute;
    top: 0px;
    right: 48%;
    display: block;
    background: #000;
    height: 100%;
    width: 1px;
    margin-right: 1.5px;
}
.timing-list{
	width: 100%;
}
.timing-item{
	width: 100%;
	list-style: none;
	padding: 26px 0;
    float: left;
}
.col-sm-6.even{
	padding-right: 60px;
	margin-top: 25px;
}
.col-sm-6.odd{
	padding-left: 60px;
	margin-top: 25px;
}
.col-sm-6.even p{
	text-align: right;
}
.col-sm-6.odd p{
	text-align: left;
}
.timing-icon{
	position: absolute;
	right: 44%;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #c4c4c4;
	padding: 15px;
	margin-right: 2px;
    z-index: 2;	
	border: 5px solid #EDB9B4;
}
.timing-icon.big{
	padding: 12px;
}
.timing-time{
	display: inline-block;
	font-size: 20px;
	padding: 5px 10px;
	color: #fff;
	background: #EDB9B4;
	border: 4px solid #c4c4c4;
	border-radius: 5px;
}
.even .timing-time{
	float: right;
}
.odd .timing-time{
	float: left;
}
.timing-title{
	font-family: 'Pattaya', sans-serif;
	padding: 5px;
	font-size: 22px;
	color: #666;
}