h1, h2, h3, h4{
	font-family: 'Caveat', cursive;
	
}
h1{
	font-size: 60px;
	font-weight: 700;
	text-align: center;
	color: #EDB9B4;
	margin-bottom: 40px;
}
p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 400;
}
#video-container{
	position: relative;
}
video{
	width: 100%;
}
nav{
	position: fixed;
	display: flex;
    justify-content: center;
    align-items: center;
	height: 80px;
	text-align: center;
	background: url(../img/nav-bg.jpg) no-repeat;
	background-size: 100%;
    background-position: 49% 21%;
	top: 0;
    width: 100%;
    z-index: 100;
}
nav::before{
	position: absolute;
	content: '';
	background: url(../img/top.svg) top no-repeat;
	height: 150px;
    width: 265px;
    left: -16px;
    top: -40px;
}
nav::after{
	position: absolute;
	content: '';
	background: url(../img/top.svg) top no-repeat;
	height: 150px;
    width: 265px;
    right: -16px;
    top: -40px;
	transform: scaleX(-1);
}
.nav{
	display: inline-block;
	float: left;
}
.nav li{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18px;
	float: left;
	padding: 5px 15px;
}
.light-mask{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.3;
	
}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: none;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

#clockdiv div > span{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
	font-family: 'Caveat', cursive;
	width: 172px;
	height: 172px;
	padding: 15px;
	border-radius: 50%;
	background: #c4c4c4;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
	color: #EDB9B4;
}
.main > div{
	float: left;
	width: 100%;
}
.invite{
	text-align: center;
	margin: 40px 0 60px;
}
.invite:before{
	position: absolute;
	content: '';
	background: url(../img/book-opened.svg) no-repeat;
	background-size: contain;
	width: 250px;
	height: 250px;
	top: 180px;
	left: -50px;
}
.invite:after{
	position: absolute;
	content: '';
	background: url(../img/book-block.svg) no-repeat;
	background-size: contain;
	width: 250px;
	height: 250px;
	top: 120px;
	right: -50px;
}
.invite .hash{
	font-family:'Caveat', cursive;
	font-size: 50px;
	color: #EDB9B4;
	margin-top: 40px;
	margin-bottom: 0;
}
.invite h2{
	font-family:'Pacifico',cursive;
	font-size: 60px;
	color: #c4c4c4;
	margin-top: 0;
	margin-bottom: 50px;
}
.button{
	padding: 20px 45px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 400;
	border-radius: 5px;
}
.agree{
	background-color: #EDB9B4;
	color: #fff;
	margin: 20px 0 50px 0;
	text-transform: uppercase;
}
.timing{
	position: relative;
	width: 100%;
	float: left;
}
.timeline{
	position: absolute;
    top: 50px;
    right: 48%;
    display: block;
    background: #efd5d4;
    height: 93%;
    width: 3px;
    margin-right: 1.5px;
}
.timing-list{
	width: 100%;
}
.timing-item{
	width: 100%;
	list-style: none;
	padding: 50px 0;
    float: left;
}
.col-sm-6.even{
	padding-right: 60px;
}
.col-sm-6.odd{
	padding-left: 60px;
}
.col-sm-6.even p{
	text-align: right;
}
.col-sm-6.odd p{
	text-align: left;
}
.timing-icon{
	position: absolute;
	right: 44%;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #e6e6e6;
	padding: 15px;
	margin-right: 2px;
    z-index: 2;	
	border: 5px solid #EDB9B4;
}
.timing-icon.big{
	padding: 12px;
}
.timing-time{
	display: inline-block;
	font-size: 20px;
	padding: 10px 15px;
	color: #fff;
	background: #efd5d4;
	border-radius: 5px;
	margin-top: 20px;
}
.even .timing-time{
	float: right;
}
.odd .timing-time{
	float: left;
}
.timing-title{
	font-family: 'Caveat', cursive;
	padding: 5px;
	font-size: 30px;
	color: #666;
}
.dresscode{
	padding: 100px 20px 100px 20px;
	text-align: center;
	background: url(../img/dresscode-bg.jpg) 50% 50% no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
.dresscode .row{
	display: flex;
    justify-content: center;
}
.dresscode .white-bg{
	width: 55%;
	padding: 30px 25px 45px;
	background: #fff;
	border-radius: 10px;
}
.colors {
	margin: 30px 0;
}
.colors .row div {
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-left: 1%;
}
.color-one{
	background: #eff1f2;
}
.color-two{
	background: #f7e8dd;
}
.color-three{
	background: #efd5d4;
}
.color-four{
	background: #fae7d6;
}
.color-five{
	background: #c0c0c0;
}
.color-six{
	background: #808080;
}
.color-nine{
	background: #eacec1;
}